.header-color {
  background: #6dd5fa
;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #bdc3c7, #b6fbff, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,#bdc3c7, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: #83a4d4
;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f2f2f2, #f2fcfe, #f2fcfe);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eaeaea, #ffffff, #eaeaea); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Resume Page css */
.resume-right.column {
  background: #2c3e50;
  color: white;
  padding: 1em;
}
.resume-left.column  {
  background: #f2f2f2;
}

/* contact page css */

.contact-left.column{
  background: #f2f2f2;
}

.contact-right.column {
  background: #2c3e50;
  color: white;
  padding: 1em;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif;
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}
.contact-me {
  font-size: 40px;
  padding-right: 5rem;
}
.contact-right-col {
  background: #2c3e50;
  color: white;
  padding: 2em;
}
.contact-left-col {
  background: #f2f2f2;
  padding: 1em;
}

/* contact page css */

.avatar-img {
  height: 250px;
  padding-top: 5em;
}

.banner-text {
  background-color: #2c3e50;
  opacity: .8;
  width: 75%;
  height: 80%;
  margin: auto;
  border-radius: 0px;
}

.banner-text h1 {
  font-size: 48px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 3px solid white;
  width: 80%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  justify-content: space-between;
  width:60%;
  margin: auto;
}

.social-links i {
 color: #2c3e50;
  font-size: 5em;
  padding: 8px;
}

/* Project page */
